<template>
	<div class="tab-content" id="v-pills-tabContent">
		<div role="tabpanel"
			v-if="accord"
			:id="accord.id"
			:class="accord.class"
			:key="accord.id"
		>
			<div class="container-fluid">
				<div id="accordion">

					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link"
									data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne"
								>
									Interactive Documentation
								</button>
							</h5>
						</div>
						<div id="collapseOne"
							data-parent="#accordion"
							:class="accord.idocClass"
						>
							<doc-tabs :doc-accord="{ accord }"></doc-tabs>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button :class="accord.exuiBtnClass"
									data-toggle="collapse" data-target="#collapseTwo"
									aria-expanded="true" aria-controls="collapseTwo"
								>
									Example UI
								</button>
							</h5>
						</div>
						<div id="collapseTwo"
							data-parent="#accordion"
							:class="accord.exuiClass"
						>
							<router-view :key="$route.fullPath" name="ui"></router-view>
						</div>
					</div>

				</div>
			</div>	<!-- end container -->
		</div>	<!-- end tab-pane -->
	</div>
</template>


<script>
import DocTabs from './DocTabs.vue';

export default {
	computed: {
		accord() {
			if (this.$route.path) {
				let segments = this.$route.path.match(/\/(.*)\/(.*)/);
				return this.$store.state.menubar_items[segments[1]].submenu_items[segments[2]].accords[0];
			}
		},
	},
	components: { DocTabs, },
}
</script>


<style>
.disabled {
	cursor: default;
}
</style>