<template>
	<div v-if="this.$route.path !== '/'">
		<menu-bar></menu-bar>
	 	<main class="row mt-5 p-3">
			<div class="col-auto">
				<side-pills></side-pills>
			</div>
		 	<div class="col">
				<accordions></accordions>
			</div>
		</main>
	</div>
</template>


<script>
import MenuBar from './MenuBar.vue';
import Accordions from './Accordions.vue';
import SidePills from './SidePills.vue';

export default {
	data() { return {
		//
	}},
	components: {
		MenuBar,
		Accordions,
		SidePills,
	},
}
</script>


<style>
.table .thead-dark th {
	background-color: #343a40;
	border-color: #343a40;
}
</style>