<template>
	<div id="" class="card-body tab-content">
		<div class="tab-pane fade show active">
			<p class="card-text"><!-- <a> below not working -- prob has to be <router-link> -->
				Before you can obtain a token, you must have a Client ID &amp; Secret (contact Dan or Tim), and you must have <router-link class="card-link" to="/auth/register">registered</router-link> the consumer for whose use the token is intended. (Think of a <em>client</em> as, say, a Web app and a <em>consumer</em> as a logon, <em>i.e.,</em> a particular user with a particular device.) How to use the token? Include it as a Bearer value in an Authorization header of your HTTP requests. Please take care not to lose it and, for security, not to expose it to public view.
			</p>
			<div class="table-responsive">

				<h5 class="text-muted">Headers</h5>
				<table class="table table-sm">
					<tbody>
						<tr><th scope="row">Accept:</th><td><code>application/json</code></td></tr>
						<tr><th scope="row">Content-Type:</th><td><code>application/json;charset=utf-8</code></td></tr>
						<tr><th scope="row">Origin:</th><td><code>[hostname or IP]</code></td></tr>
						<tr><th scope="row">X-CSRF-TOKEN:</th><td><code>[40-character code]</code></td></tr>
						<tr><th scope="row">X-Requested-With:</th><td><code>XMLHttpRequest</code></td></tr>
					</tbody>
				</table>

				<h5 class="text-muted">Input</h5>
				<table class="table table-sm">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Parameter</th>
							<th scope="col">Value</th>
							<th scope="col">Type</th>
							<th scope="col">Description</th></tr>
					</thead>
					<tbody>
						<tr>
							<td><code>grant_type<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="text" name="grant_type"
								v-model:value="grant_type"
							required disabled>
						</td>
							<td><em>string</em></td>
							<td>OAuth 2.0 Resource-Owner Credentials grant type</td>
						</tr>
						<tr>
							<td><code>client_id<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="text" name="client_id"
								value="[Contact Dan or Tim]"
							required disabled>
						</td>
							<td><em>number</em></td>
							<td>OAuth 2.0 First-Party Client's public identifier</td>
						</tr>
						<tr>
							<td><code>client_secret<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="text" name="client_secret"
								value="[Contact Dan or Tim]"
							required disabled>
						</td>
							<td><em>string</em></td>
							<td>The First-Party Client's private identifier</td>
						</tr>
						<tr>
							<td><code>username<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="text" name="username"
								v-model:value="username"
							required>
						</td>
							<td><em>string</em></td>
							<td>The duly-registered logon, a unique email address</td>
						</tr>
						<tr>
							<td><code>password<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="password" name="password"
								v-model:value="password"
							required>
						</td>
							<td><em>string</em></td>
							<td>The above logon&rsquo;s password</td>
						</tr>
						<tr>
							<td><code>scope</code></td>
							<td>
								<select v-model:value="scope" class="custom-select" size="5" multiple>
									<option value="c-pols">Create security policies</option>
									<option value="r-pols" selected>Read security policies</option>
									<option value="u-pols">Update security policies</option>
									<option value="d-pols" disabled>Delete security policies</option>
									<option value="c-pool">Create address-set pools</option>
									<option value="r-pool">Read address-set pools</option>
									<option value="u-pool">Update address-set pools</option>
									<option value="d-pool" disabled>Delete address-set pools</option>
									<option value="c-prox">Create transparent proxies</option>
									<option value="r-prox" selected>Read transparent proxies</option>
									<option value="u-prox">Update transparent proxies</option>
									<option value="d-prox" disabled>Delete transparent proxies</option>
								</select>
							</td>
							<td><em>string</em></td>
							<td>OAuth 2.0 access-control list<br><small class="text-muted">select multiple</small></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Example -->
			<div class="card bg-light">
				<div class="card-body">
					<div class="row">
						<div class="col-auto">
							<h5 class="card-title d-inline">POST</h5> /oauth/token/
						</div>
						<div class="col">
							<pre class="pre-scrollable"><samp style="color: #a457a9;">{{ prettyRequest }}</samp></pre>
							<input type="text" ref="postRequest" :value="plainRequest" style="height: 0; display: none;">
							<button
								class="btn btn-link btn-sm float-left" type="button"
								@click="copyRequest"
							>
								Copy JSON
							</button>
							<button
								class="btn btn-primary btn-sm float-right" type="button"
								data-toggle="modal" data-target="#postResponseModal"
								@click.prevent="submitPost"
							autofocus>
								Send POST request
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- RESPONSE MODAL -->
	        <div
	        	id="postResponseModal" class="modal fade"
	        	tabindex="-1" role="dialog"
	        	aria-labelledby="postResponseModalTitle" aria-hidden="true"
        	>
	            <div class="modal-dialog modal-dialog-centered" role="document">
	                <div :class="modal_classes">
	                    <div class="modal-header">
	                        <h5 class="modal-title" id="postResponseModalTitle">POST Response</h5>
	                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        	<span>&Cross;</span>
	                	    </button>
	                    </div>
						<div class="modal-body">
							<div class="row justify-content-between">
								<div class="col">
									<h5 class="text-muted">HTTP Status</h5>
									<p class="card-text">
										{{ response_status_text }}
									</p>
								</div>
								<div class="col-auto">
									<p class="display-4 mr-5" style="margin-top: -1rem; color: #a457a9;">
										{{ response_status }}
									</p>
								</div>
							</div>
							<h5 class="text-muted">HTTP Body</h5>
							<pre class="pre-scrollable"><samp id="postResponse">{{ prettyResponse }}</samp></pre><!-- must all be on one line re pre -->
							<div><input type="text" ref="postResponse" :value="plainResponse" style="height: 0; display: none;"></div><!-- copy hack -->
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-link" @click="copyResponse">Copy JSON</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
</template>


<script>
export default {
	data() { return {
		grant_type: 'password',
		client_id: 1,
		client_secret: 'GjqriazFKjRo28SSmtnOBZhHxSxZNn8ChJkZPZBl',
		username: 'test@emypeople.email',
		password: 'test@2018',	//NO NO NO NO
		scope: ['r-pols', 'r-prox',],
		modal_classes: 'modal-content d-none',
		response_status: '',
		response_status_text: '',
		response_body: '',
	}},
	computed: {
		redactRequest() { return {
			grant_type: this.grant_type,
			client_id: '**',
			client_secret: '********************************',
			username: this.username,
			password: "*".repeat(this.password.length),
			scope: this.scope.join(' '),
		}},
		plainRequest() {
			return JSON.stringify(this.redactRequest);
		},
		prettyRequest() {
			return JSON.stringify(this.redactRequest, null, '    ');
		},
		plainResponse() {
			return JSON.stringify(this.response_body);
		},
		prettyResponse() {
			return JSON.stringify(this.response_body, null, '    ');
		},
	},
	methods: {
		copyRequest() {
			this.$refs.postRequest.style.display = "block";
			this.$refs.postRequest.select();
			document.execCommand('copy');
			this.$refs.postRequest.style.display = "none";
		},
		copyResponse() {
			this.$refs.postResponse.style.display = "block";
			this.$refs.postResponse.select();
			document.execCommand('copy');
			this.$refs.postResponse.style.display = "none";
		},
		submitPost() {
			let request = {
				grant_type: this.grant_type,
				client_id: this.client_id,
				client_secret: this.client_secret,
				username: this.username,
				password: this.password,
				scope: this.scope.join(' '),
			};
			axios.post('http://api.emypeople.net/oauth/token', request)
				.then( (response) => {
					console.log(response);
					this.hydrateModal(response);
				})
				.catch( (error) => {
					console.log('In error');
					console.log(error);
					this.hydrateModal(error.response);
			});
		},
		hydrateModal(response) {
			console.log('hum');
			this.response_status = response.status;
			this.response_status_text = response.statusText;
			this.response_body = response.data;
			this.modal_classes = 'modal-content';
		},
	}
}
</script>


<style></style>
