<template>
	<div
		id="put" class="tab-pane fade show"
		role="tabpanel" aria-labelledby="put-tab"
	>
		<p class="card-text">
			You can alter security-policy values by sending an HTTP PUT request comprising, in the body, a JSON-encoded object that represents the altered security policy. The API will make the changes and return a success code.
		</p>
		<p>
			Note that all values (e.g. applications) must <em>already exist</em> on the gateway to be assigned to a security policy. Further, at this time, only actions &ldquo;permit&rdquo; and &ldquo;deny&rdquo; are supported.
		</p>
		<p>
			In addition note that, while not all types of values are required, if you <em>do</em> choose to include a parameter (e.g. <code>src-ips</code>), then any values you submit (e.g. <code>10.4.0.20</code>) will be the <em>only</em> values of that type when the security policy is updated&mdash;all other, previous, values will be removed by the API.
		</p>

		<form ref="form_docpolput" :class="form_class" method="put" @submit.prevent novalidate>
			<div class="table-responsive">

				<h5 class="text-muted">Headers</h5>
				<table class="table table-sm">
					<tbody>
						<tr><th scope="row">Authorization:</th>
							<td><div class="form-row">
								<div class="col-auto"><code>Bearer</code></div>
								<div class="col">
									<input
										class="form-control form-control-sm" type="text"
										name="token" v-model:value="token"
										placeholder="Paste your token here"
										@change="form_class = 'needs-validation';"
										autofocus required
									>
								</div>
							</div></td>
						</tr>
						<tr><th scope="row">Accept:</th><td><code>application/json</code></td></tr>
						<tr><th scope="row">Content-Type:</th><td><code>application/json;charset=utf-8</code></td></tr>
						<tr><th scope="row">Origin:</th><td><code>[hostname or IP]</code></td></tr>
						<tr><th scope="row">X-CSRF-TOKEN:</th><td><code>[40-character code]</code></td></tr>
						<tr><th scope="row">X-Requested-With:</th><td><code>XMLHttpRequest</code></td></tr>
					</tbody>
				</table>

				<h5 class="text-muted">Input</h5>
				<table class="table table-sm">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Parameter</th>
							<th scope="col">Value</th>
							<th scope="col">Type</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><code>name<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="text"
								name="name" v-model:value="name"
								@change="form_class = 'needs-validation';"
							required>
							</td>
							<td><em>string</em></td>
							<td>A security-policy name</td>
						</tr>
						<tr>
							<td><code>zone-from<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="text"
								name="zone-from" v-model:value="zone_from"
								@change="form_class = 'needs-validation';"
							required>
							</td>
							<td><em>string</em></td>
							<td>A &ldquo;from-zone&rdquo; zone</td>
						</tr>
						<tr>
							<td><code>zone-to<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="text"
								name="zone-to" v-model:value="zone_to"
								@change="form_class = 'needs-validation';"
							required>
							</td>
							<td><em>string</em></td>
							<td>A &ldquo;to-zone&rdquo; zone</td>
						</tr>
						<tr>
							<td><code>src-ips</code></td>
							<td>
								<div v-for="(input, index) in src_inputs" class="input-group mb-1">
									<input
										class="form-control form-control-sm" type="text"
										v-model:value="src_ips[index]"
									>
									<div class="input-group-append">
										<button
											class="btn btn-outline-secondary btn-sm" type="button"
											@click="addInput('src')"
										>&#65291;</button>
									</div>
								</div>
							</td>
							<td><em>array</em></td>
							<td>IPs, address-sets, or wildcards (e.g. &ldquo;any&rdquo;) in &ldquo;from-zone&rdquo;</td>
						</tr>
						<tr>
							<td><code>dst-ips</code></td>
							<td>
								<div v-for="(input, index) in dst_inputs" class="input-group mb-1">
									<input
										class="form-control form-control-sm" type="text"
										v-model:value="dst_ips[index]"
									>
									<div class="input-group-append">
										<button
											class="btn btn-outline-secondary btn-sm" type="button"
											@click="addInput('dst')"
										>&#65291;</button>
									</div>
								</div>
							</td>
							<td><em>array</em></td>
							<td>IPs, etc. (see above), in gateway&rsquo;s &ldquo;to-zone&rdquo;</td>
						</tr>
						<tr>
							<td><code>applications</code></td>
							<td>
								<div v-for="(input, index) in app_inputs" class="input-group mb-1">
									<input
										class="form-control form-control-sm" type="text"
										v-model:value="applications[index]"
									>
									<div class="input-group-append">
										<button
											class="btn btn-outline-secondary btn-sm" type="button"
											@click="addInput('app')"
										>&#65291;</button>
									</div>
								</div>
							</td>
							<td><em>array</em></td>
							<td>Applications, or &ldquo;any&rdquo;</td>
						</tr>
						<tr>
							<td><code>action</code></td>
							<td>
								<div class="custom-control custom-radio custom-control-inline">
									<input
										id="permit" class="custom-control-input" type="radio"
										value="permit" v-model="action"
									checked>
									<label for="permit" class="custom-control-label">permit</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
									<input
										id="deny" class="custom-control-input" type="radio"
										value="deny" v-model="action"
									>
									<label for="deny" class="custom-control-label">deny</label>
								</div>
							</td>
							<td><em>string</em></td>
							<td>An action to be performed in case of match</td>
						</tr>
						<tr>
							<td><code>inactive</code></td>
							<td>
								<div class="custom-control custom-checkbox">
									<input
										id="inactive" class="custom-control-input"
										type="checkbox"
										v-model:value="inactive"
									>
									<label for="inactive" class="custom-control-label">inactive</label>
								</div>
							</td>
							<td><em>boolean</em></td>
							<td></td>
						</tr>
						<tr>
							<td><code>logged</code></td>
							<td>
								<div class="custom-control custom-checkbox">
									<input
										id="logged" class="custom-control-input"
										type="checkbox"
										v-model:value="logged"
									>
									<label for="logged" class="custom-control-label">logged</label>
								</div>
							</td>
							<td><em>boolean</em></td>
							<td></td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- Example -->
			<div class="card bg-light">
				<div class="card-body">
					<div class="row">
						<div class="col-auto">
							<h5 class="card-title d-inline">PUT</h5> /hosted/router02/policies/
						</div>
						<div class="col">
							<pre class="pre-scrollable"><samp style="color: #a457a9;">{{ prettyRequest }}</samp></pre>
							<input type="text" ref="putRequest" :value="plainRequest" style="height: 0; display: none;">
							<button
								class="btn btn-link btn-sm float-left" type="button"
								@click="copyRequest"
							>
								Copy JSON
							</button>
							<button
								class="btn btn-primary btn-sm float-right" type="button"
								data-toggle="modal" data-target="#putResponseModal"
								@click.prevent="submitPut"
							autofocus>
								Send PUT request
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- RESPONSE MODAL -->
        <div
        	id="putResponseModal" class="modal fade"
        	tabindex="-1" role="dialog"
        	aria-labelledby="putResponseModalTitle" aria-hidden="true"
    	>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div :class="modal_classes">
                    <div class="modal-header">
                        <h5 class="modal-title" id="putResponseModalTitle">PUT Response</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        	<span>&Cross;</span>
                	    </button>
                    </div>
					<div class="modal-body">
						<div class="row justify-content-between">
							<div class="col">
								<h5 class="text-muted">HTTP Status</h5>
								<p class="card-text">
									{{ response_status_text }}
								</p>
							</div>
							<div class="col-auto">
								<p class="display-4 mr-5" style="margin-top: -1rem; color: #a457a9;">
									{{ response_status }}
								</p>
							</div>
						</div>
						<div v-if="modalBody">
							<h5 class="text-muted">HTTP Body</h5>
							<pre class="pre-scrollable"><samp id="putResponse">{{ prettyResponse }}</samp></pre><!-- must all be on one line re pre -->
							<div><input type="text" ref="putResponse" :value="plainResponse" style="height: 0; display: none;"></div><!-- copy hack -->
						</div>
					</div>
                </div>
            </div>
        </div>

	</div>
</template>


<script>
export default {
	data() { return {
		token: '',
		name: '10_4_0_20_teamviewer',
		zone_from: 'wireless-vpn-in',
		zone_to: 'wireless-vpn-out',
		src_ips: ['10.4.0.20', 'ABC_Office'],
		dst_ips: ['any'],
		applications: ['tcp_5340'],
		action: '',
		inactive: null,
		logged: null,
		src_inputs: ['hm', 'hm',],
		dst_inputs: ['hm',],
		app_inputs: ['hm',],
		form_class: 'needs-validation',
		modal_classes: 'modal-content d-none',
		response_status: '',
		response_status_text: '',
		response_body: '',
	}},
	computed: {
		modalBody() {
			return this.prettyResponse !== '""';
		},
		rawRequest() {
			let request = {
				name: this.name,
				'zone-from': this.zone_from,
				'zone-to': this.zone_to,
			};
			if (this.src_ips[0] !== '') {
				request['src-ips'] = this.src_ips;
			}
			if (this.dst_ips[0] !== '') {
				request['dst-ips'] = this.dst_ips;
			}
			if (this.applications[0] !== '') {
				request.applications = this.applications;
			}
			if (this.action) {
				request.action = this.action;
			}
			if (this.inactive !== null) {
				request.inactive = this.inactive;
			}
			if (this.logged !== null) {
				request.logged = this.logged;
			}
			return request;
		},
		plainRequest() {
			return JSON.stringify(this.rawRequest);
		},
		prettyRequest() {
			return JSON.stringify(this.rawRequest, null, '    ');
		},
		plainResponse() {
			return JSON.stringify(this.response_body);
		},
		prettyResponse() {
			return JSON.stringify(this.response_body, null, '    ');
		},
	},
	methods: {
		addInput(type) {
			eval('this.' + type + '_inputs').push('hm');
		},
		copyRequest() {
			this.$refs.putRequest.style.display = "block";
			this.$refs.putRequest.select();
			document.execCommand('copy');
			this.$refs.putRequest.style.display = "none";
		},
		copyResponse() {
			this.$refs.putResponse.style.display = "block";
			this.$refs.putResponse.select();
			document.execCommand('copy');
			this.$refs.putResponse.style.display = "none";
		},
		submitPut() {
			// First, let Bootstrap do its thing
			this.form_class = 'was-validated';
			if (this.$refs.form_docpolput.checkValidity() === false) {
				console.log('Ooops');
				event.preventDefault(); event.stopPropagation();
			} else {
				axios.put(
					'http://api.emypeople.net/hosted/router02/policies/',
					this.rawRequest,
					{headers: {
						Authorization: `Bearer ${this.token}`,
						Accept: 'application/json',
						'Content-Type': 'application/json;charset=utf-8',					
					}}
				)
					.then( (response) => {
						console.log(response);
						this.hydrateModal(response);
					})
					.catch( (error) => {
						console.log('In error');
						console.log(error);
						this.hydrateModal(error.response);
				});
			}
		},
		hydrateModal(response) {
			console.log('hum');
			this.response_status = response.status;
			this.response_status_text = response.statusText;
			this.response_body = response.data;
			this.modal_classes = 'modal-content';
		},
	}
}
</script>