<template>
	<div
		id="get" class="tab-pane fade show active"
		role="tabpanel" aria-labelledby="get-tab"
	>
		<p class="card-text">
			You can obtain address-set information by sending an HTTP GET request, with or without a <code>name</code> parameter. The API will then return a JSON-encoded object that lists all related addresses, if any.
		</p>

		<form ref="form_docpoolget" :class="form_class" method="get" @submit.prevent novalidate>
			<div class="table-responsive">
				<h5 class="text-muted">Headers</h5>
				<table class="table table-sm">
					<tbody>
						<tr><th scope="row">Authorization:</th>
							<td><div class="form-row">
								<div class="col-auto"><code>Bearer</code></div>
								<div class="col">
									<input
										class="form-control form-control-sm" type="text"
										name="token" v-model:value="token"
										placeholder="Paste your token here"
										@change="form_class = 'needs-validation';"
										autofocus required
										>
								</div>
							</div></td>
						</tr>
						<tr><th scope="row">Accept:</th><td><code>application/json</code></td></tr>
						<tr><th scope="row">Origin:</th><td><code>[hostname or IP]</code></td></tr>
						<tr><th scope="row">X-CSRF-TOKEN:</th><td><code>[40-character code]</code></td></tr>
						<tr><th scope="row">X-Requested-With:</th><td><code>XMLHttpRequest</code></td></tr>
					</tbody>
				</table>

				<h5 class="text-muted">Input</h5>
				<table class="table table-sm">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Parameter</th>
							<th scope="col">Value</th>
							<th scope="col">Type</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><code>name</code></td>
							<td><input
								class="form-control form-control-sm" type="text"
								name="name" v-model:value="name"
							>
							</td>
							<td><em>string</em></td>
							<td>An address-set name or any part of a name</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Example -->
			<div class="card bg-light">
				<div class="card-body">
					<h5 class="card-title d-inline">GET</h5> /api/hosted/router02/pools/<code>{{ name }}</code>
					<button
						class="btn btn-primary btn-sm float-right" type="submit"
						data-toggle="modal" data-target="#getResponseModal"
						@click.prevent="submitGet"
					>
						Send GET request
					</button>
				</div>
			</div>
		</form>
		<!-- RESPONSE MODAL -->
        <div
        	id="getResponseModal" class="modal fade"
        	tabindex="-1" role="dialog"
        	aria-labelledby="getResponseModalTitle" aria-hidden="true"
    	>
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div :class="modal_classes">
                    <div class="modal-header">
                        <h5 class="modal-title" id="getResponseModalTitle">GET Response</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        	<span>&Cross;</span>
                	    </button>
                    </div>
					<div class="modal-body">
						<div class="row justify-content-between">
							<div class="col">
								<h5 class="text-muted">HTTP Status</h5>
								<p class="card-text">
									{{ response_status_text }}
								</p>
							</div>
							<div class="col-auto">
								<p class="display-4 mr-5" style="margin-top: -1rem; color: #a457a9;">
									{{ response_status }}
								</p>
							</div>
						</div>
						<h5 class="text-muted">HTTP Body</h5>
						<pre class="pre-scrollable"><samp id="getResponse">{{ prettyResponse }}</samp></pre><!-- must all be on one line re pre -->
						<div><input type="text" ref="getResponse" :value="plainResponse" style="height: 0; display: none;"></div><!-- copy hack -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link" @click="copyResponse">Copy JSON</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
                </div>
            </div>
        </div>

	</div>
</template>


<script>
export default {
	data() { return {
		token: null,
		name: 'ABC',
		form_class: 'needs-validation',
		modal_classes: 'modal-content d-none',
		response_status: '',
		response_status_text: '',
		response_body: '',
	}},
	computed: {
		plainResponse() {
			return JSON.stringify(this.response_body);
		},
		prettyResponse() {
			return JSON.stringify(this.response_body, null, '    ');
		},
	},
	methods: {
		copyResponse() {
			this.$refs.getResponse.style.display = "block";
			this.$refs.getResponse.select();
			document.execCommand('copy');
			this.$refs.getResponse.style.display = "none";
		},
		submitGet() {
			// First, let Bootstrap do its thing
			this.form_class = 'was-validated';
			if (this.$refs.form_docpoolget.checkValidity() === false) {
				console.log('Ops');
				event.preventDefault(); event.stopPropagation();
			} else {
				let param = this.name;
				axios.get(
					`http://api.emypeople.net/hosted/router02/pools/${param}`,
					{headers: {
						Authorization: `Bearer ${this.token}`,
						Accept: 'application/json',
					}}
				)
					.then( (response) => {
						console.log(response);
						this.hydrateModal(response);
						this.form_class = 'needs-validation';
					})
					.catch( (error) => {
						console.log('In error');
						console.log(error);
						this.hydrateModal(error.response);
				});
			}
		},
		hydrateModal(response) {
			console.log('hum');
			this.response_status = response.status;
			this.response_status_text = response.statusText;
			this.response_body = response.data;
			this.modal_classes = 'modal-content';
		},
	},
}
</script>


<style></style>