<template>
	<div class="card-body tab-content">
		<!-- POST></POST -->
		<doc-pool-get></doc-pool-get>
		<doc-pool-put></doc-pool-put>
		<!-- DELETE></DELETE -->
	</div>
</template>


<script>
import DocPoolGet from './DocPoolGet.vue';
import DocPoolPut from './DocPoolPut.vue';

export default {
	components: { DocPoolGet, DocPoolPut, },
}
</script>


<style></style>