<template>
	<div class="card-body tab-content">
		<!-- POST></POST -->
		<doc-policy-get></doc-policy-get>
		<doc-policy-put></doc-policy-put>
		<!-- DELETE></DELETE -->
	</div>
</template>


<script>
import DocPolicyGet from './DocPolicyGet.vue';
import DocPolicyPut from './DocPolicyPut.vue';

export default {
	components: { DocPolicyGet, DocPolicyPut, },
}
</script>


<style></style>