<template>
	<div class="card-body tab-content">
		<!-- POST></POST -->
		<doc-proxy-get></doc-proxy-get>
		<doc-proxy-put></doc-proxy-put>
		<!-- DELETE></DELETE -->
	</div>
</template>


<script>
import DocProxyGet from './DocProxyGet.vue';
import DocProxyPut from './DocProxyPut.vue';

export default {
	components: { DocProxyGet, DocProxyPut, },
}
</script>


<style></style>