<template>
	<div class="card-body tab-content">
		<div class="tab-pane fade show active">
			<p class="card-text">
				Your email serves much as a logon username would, and thus it must be unique in the the relevant column of the API server database. At this time, passwords are only constrained to any six-character string; however, your password may be longer, up to 255 characters, and a good practice is to use a mix of alphanumeric and special characters. Try to think of a password that will be easy for you to remember and difficult for others to guess.
			</p>
			<div class="table-responsive">

				<h5 class="text-muted">Headers</h5>
				<table class="table table-sm">
					<tbody>
						<tr><th scope="row">Accept:</th><td><code>application/json</code></td></tr>
						<tr><th scope="row">Content-Type:</th><td><code>application/json;charset=utf-8</code></td></tr>
						<tr><th scope="row">Origin:</th><td><code>[hostname or IP]</code></td></tr>
						<tr><th scope="row">X-CSRF-TOKEN:</th><td><code>[40-character code]</code></td></tr>
						<tr><th scope="row">X-Requested-With:</th><td><code>XMLHttpRequest</code></td></tr>
					</tbody>
				</table>

				<h5 class="text-muted">Input</h5>
				<table class="table table-sm">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Parameter</th>
							<th scope="col">Value</th>
							<th scope="col">Type</th>
							<th scope="col">Description</th></tr>
					</thead>
					<tbody>
						<tr>
							<td><code>name<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="text"
								name="name"
								v-model:value="name"
							required>
						</td>
							<td><em>string</em></td>
							<td>Descriptive name for the consumer</td>
						</tr>
						<tr>
							<td><code>email<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="email"
								name="email"
								v-model:value="email"
							required>
						</td>
							<td><em>string</em></td>
							<td>Unique, valid email address to identify the consumer</td>
						</tr>
						<tr>
							<td><code>password<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="password"
								name="password"
								v-model:value="password"
							required>
						</td>
							<td><em>string</em></td>
							<td>Password of at least six characters</td>
						</tr>
						<tr>
							<td><code>password_confirmation<sup>*</sup></code></td>
							<td><input
								class="form-control form-control-sm" type="password"
								name="password_confirmation"
								v-model:value="password_confirmation"
							required>
						</td>
							<td><em>string</em></td>
							<td>Must be identical to above</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Example -->
			<div class="card bg-light">
				<div class="card-body">
					<div class="row">
						<div class="col-auto">
							<h5 class="card-title d-inline">POST</h5> /auth/register/
						</div>
						<div class="col">
							<pre class="pre-scrollable"><samp style="color: #a457a9;">{{ prettyRequest }}</samp></pre><!--NOTE INLINE STYLE-->
							<input type="text" ref="postRequest" :value="plainRequest" style="height: 0; display: none;"><!-- copy hack -->
							<button
								class="btn btn-link btn-sm float-left" type="button"
								@click="copyRequest"
							>
								Copy JSON
							</button>
							<button
								class="btn btn-primary btn-sm float-right" type="button"
								data-toggle="modal" data-target="#postResponseModal"
								@click.prevent="submitPost"
							autofocus>
								Send POST request
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- RESPONSE MODAL -->
	        <div
	        	id="postResponseModal" class="modal fade"
	        	tabindex="-1" role="dialog"
	        	aria-labelledby="postResponseModalTitle" aria-hidden="true"
        	>
	            <div class="modal-dialog modal-dialog-centered" role="document">
	                <div :class="modal_classes">
	                    <div class="modal-header">
	                        <h5 class="modal-title" id="postResponseModalTitle">POST Response</h5>
	                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	                        	<span>&Cross;</span>
	                	    </button>
	                    </div>
						<div class="modal-body">
							<div class="row justify-content-between">
								<div class="col">
									<h5 class="text-muted">HTTP Status</h5>
									<p class="card-text">
										{{ response_status_text }}
									</p>
								</div>
								<div class="col-auto">
									<p class="display-4 mr-5" style="margin-top: -1rem; color: #a457a9;">
										{{ response_status }}
									</p>
								</div>
							</div>
							<h5 class="text-muted">HTTP Body</h5>
							<pre class="pre-scrollable"><samp id="postResponse">{{ prettyResponse }}</samp></pre><!-- must all be on one line re pre -->
							<div><input type="text" ref="postResponse" :value="plainResponse" style="height: 0; display: none;"></div><!-- copy hack -->
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-link" @click="copyResponse">Copy JSON</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
	                </div>
	            </div>
	        </div>

		</div>
	</div>
</template>


<script>
export default {
	data() { return {
		name: '',
		email: '',
		password: '',
		password_confirmation: '',
		modal_classes: 'modal-content d-none',
		response_status: '',
		response_status_text: '',
		response_body: '',
	}},
	computed: {
		request() { return {
			name: this.name,
			email: this.email,
			password: this.password,
			password_confirmation: this.password_confirmation,
		}},
		plainRequest() {
			return JSON.stringify(this.request);
		},
		prettyRequest() {
			let redactRequest = {
				name: this.name,
				email: this.email,
				password: '*'.repeat(this.password.length),
				password_confirmation: '*'.repeat(this.password_confirmation.length),
			};
			return JSON.stringify(redactRequest, null, '    ');
		},
		plainResponse() {
			return JSON.stringify(this.response_body);
		},
		prettyResponse() {
			return JSON.stringify(this.response_body, null, '    ');
		},
	},
	methods: {
		copyRequest() {
			this.$refs.postRequest.style.display = "block";
			this.$refs.postRequest.select();
			document.execCommand('copy');
			this.$refs.postRequest.style.display = "none";
		},
		copyResponse() {
			this.$refs.postResponse.style.display = "block";
			this.$refs.postResponse.select();
			document.execCommand('copy');
			this.$refs.postResponse.style.display = "none";
		},
		submitPost() {
			axios.post('http://api.emypeople.net/auth/register', this.request)
				.then( (response) => {
					console.log(response);
					this.hydrateModal(response);
				})
				.catch( (error) => {
					console.log('In error');
					console.log(error);
					this.hydrateModal(error.response);
			});
		},
		hydrateModal(response) {
			console.log('hum');
			this.response_status = response.status;
			this.response_status_text = response.statusText;
			this.response_body = response.data;
			this.modal_classes = 'modal-content';
		},
	}
}
</script>


<style></style>
