<template>
	<div id="tabs" class="card-body">
		<div class="container">

			<div class="row">
				<span v-html="docAccord.accord.blurb"></span>
			</div>

			<div class="card">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
						<li v-if="tabs" class="nav-item" v-for="tab in tabs">
							<a data-toggle="tab" role="tab" 
								:id="tab.verb + '-tab'" :href="'#' + tab.verb" :title="tab.tip | titleCase"
								:class="tab.classes"
								:aria-controls="tab.verb" :aria-selected="tab.aria_select"
								:key="tab.verb"
							> <!-- NEED TO EXTEND BOOTSTRAP TO ADD TO disabled class: "cursor: default;" -->
								{{ tab.verb | upperCase }}
							</a>
						</li>
					</ul>
				</div>
				<router-view name="doc"></router-view>
			</div>

		</div>
	</div>
</template>


<script>

export default {
	props: ['docAccord',],
	data() { return {
		tabs: this.docAccord.accord.tabs,
	}},
	filters: {
		titleCase(string) {
			return string.charAt(0).toUpperCase() + string.slice(1);
		},
		upperCase(string) {
			return string.toUpperCase();
		},
	},
}
</script>


<style>
#tabs {
	background-image: url('/images/emy_logsform_logo.jpg');
	background-repeat: no-repeat;
	background-position: -105px -85px;
}

.disabled {
	cursor: default;
}
</style>1t41O7WqakW2K6zoK6CI