<template>
	<li :class="classes">
		<a class="nav-link dropdown-toggle"
			data-toggle="dropdown" href="#"
			aria-haspopup="true" aria-expanded="false"
			:id="this.menubarItem.item.id"
		>
			{{ this.menubarItem.item.title }}
		</a>
		<div class="dropdown-menu"
			:aria-labelledby="this.menubarItem.item.id"
		>
			<sub-menu-item :submenu-item="{ item }" :key="item.id" v-for="item in submenu_items"></sub-menu-item>
		</div>
	</li>
</template>


<script>
import SubMenuItem from './SubMenuItem.vue';

export default {
	data() { return {
		submenu_items: this.menubarItem.item.submenu_items,
	}},
	computed: {
		classes() {
			if (this.$route.path) {
				let segments = this.$route.path.match(/\/(.*)\/(.*)/);
				if (segments[2] in this.submenu_items) {
					return 'nav-item dropdown active';
				} else {
					return 'nav-item dropdown';
				}
			}
		},
	},
	props: ['menubarItem'],
	components: { SubMenuItem, },
}
</script>


<style></style>