<template>
	<div>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" title="About"
				href="#" data-toggle="modal" data-target="#aboutModal"
			>
				&ldquo;Server Control&rdquo; APIs
			</a>
			<button class="navbar-toggler"
				data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<menu-item :menubar-item="{ item }" :key="item.id" v-for="item in menubar_items"></menu-item>
				</ul>
			</div>
	</nav>
		<div id="aboutModal" class="modal fade"
			tabindex="-1" role="dialog"
			aria-labelledby="aboutModalTitle" aria-hidden="true"
		>
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 id="aboutModalTitle" class="modal-title">
							About the eMyPeople &ldquo;Server Control&rdquo; APIs
						</h5>
						<button type="button" class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">
								&Cross;
							</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Something about project scope.</p>
						<p>Some general instructions for using InterDocs, e.g., "assemble JSON as you see below," "headers ...," "click etc. to try it, and to see how responses look," "detailed errors" ...</p>
						<p>The Web site you are browsing is entirely a single-page application (SPA), written in Vue.js, a JavaScript frontend framework, including related libraries Vue Router and Vuex. Additionally, axios was used to implement Ajax; jQuery and jQuery UI, user-interface details; and Twitter Bootstrap, styles via SASS and CSS. Finally Babel.js was used as the syntax and browser-support transformer, and webpack as the module bundler. The site is a <em>responsive</em> site, so try it on your tablet or smartphone; and an <em>accessible-rich</em> application, so try it with your screen reader.</p>
						<p>Beta?</p>
						<p>Email Dan or Tim blah blah blah ...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" onclick="location.href='mailto:danield@emypeople.net';">
								Email Dan
						</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
import MenuItem from './MenuItem.vue';

export default {
	data() { return {
		menubar_items: this.$store.state.menubar_items,
	}},
	components: { MenuItem, },
}
</script>


<style></style>