<template>
	<router-link data-toggle="pill" role="tab"
		:id="pillItem.item.id"
		:class="pillItem.item.class"
		:href="pillItem.item.path"
		:to="pillItem.item.linkTo"
	>
		{{ pillItem.item.title }}
	</router-link>
</template>


<script>
export default {
	props: ['pillItem'],
}
</script>


<style>
</style>