<template>
	<div class="nav flex-column nav-pills" id="v-pills-tab"
		role="tablist" aria-orientation="vertical"
	>
		<pill-item v-if="pills" :pill-item="{ item }" :key="item.id" v-for="item in pills"></pill-item>
	</div>
</template>


<script>
import PillItem from './PillItem.vue';

export default {
	computed: {
		pills() {
			if (this.$route.path) {
				let segments = this.$route.path.match(/\/(.*)\/(.*)/);
				return this.$store.state.menubar_items[segments[1]].submenu_items[segments[2]].pills;
			}
		},
	},
	components: { PillItem, },
}
</script>


<style></style>