<template>
	<router-link class="dropdown-item"
		:to="this.submenuItem.item.linkTo"
	>
		{{ this.submenuItem.item.title }}
	</router-link>
</template>


<script>
export default {
	props: ['submenuItem'],
}
</script>


<style></style>