<template>
	<div id="uipol" class="card-body">
		<h5 class="card-title">Find Policies</h5>
		<h6 class="card-subtitle mb-2 text-muted">Use any related value to isolate a policy / policies</h6>

		<p class="card-text mb-0">
			<code>Coming soon!</code>
		</p>
	</div>
</template>


<script>
export default {

}
</script>


<style>
#uipol {
	background-image: url('/images/emy_logsform_logo.jpg');
	background-repeat: no-repeat;
	background-position: -105px -85px;
}
</style>