<template>
	<div id="uiprox" class="card-body">
		<h5 class="card-title">Set Transparent Proxies</h5>
		<h6 class="card-subtitle mb-2 text-muted">Proxy routes by assigning a prefix to a prefix-list</h6>

		<p class="card-text mb-0">
			Drag and drop prefixes into the desired prefix-list column. To more easily find the prefixes you want, you can use the search box below. To add a new prefix, use the input field at the bottom.
		</p>
		<!-- SEARCH BOX -->
		<div class="row mb-2">
			<div class="col-md-6 col-sm-4 col-xs-0">
			</div>
			<div class="col-md-6 col-sm-8 col-xs-12">
				<div class="input-group input-group-sm" role="group">
					<input
						id="find-input" class="form-control" type="text"
						name="find" aria-label="Find"
						placeholder="Type any part of a prefix"
						@keyup.enter="filterPrefixes"
					>
					<div class="input-group-append">
						<button
							class="btn btn-outline-secondary" type="button"
							@click="clearFilter"
						>
							Clear
						</button>
						<button
							class="btn btn-dark" type="button"
							@click="filterPrefixes"
						>
							Find
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- DRAG-AND-DROP AREA -->
		<div id="s-containment" class="row justify-content-center no-gutters border-bottom">
			<div
				v-if="proxies !== null"
				v-for="proxy in proxies"
				:id="proxy.name" class="sortable sortable-connected d-flex flex-column col border-left border-right bg-light pb-2"
			>
				<h6 class="bg-dark text-center text-light p-2">
					<strong>{{ proxy.name }}</strong>
				</h6>
				<div
					v-for="item in proxy['prefix-list-items']"
					:id="item" class="draggable card text-center mx-3 my-1">
					<div class="card-body p-2">
						<p class="prefix card-text">
							{{ item }}
						</p>
					</div>
				</div>
			</div>
			<div
 				v-if="proxies === null"
 				class="col border-left border-right bg-light"
			>
				<h6 class="bg-dark text-center text-light p-2 w-100">&nbsp;
				</h6>
					<p class="display-4 text-center text-muted blinx">Loading . . .</p>
			</div>
		</div>	<!-- end s-containment -->

		<div class="row mt-2">
			<!-- ADD-NEW-PREFIX BOX -->
			<div class="col-md col-xs-12">
				<div class="input-group input-group-sm" role="group">
					<input
						id="prefix-input" class="form-control" type="text"
						name="add" aria-label="Add new prefix"
						placeholder="Type a new prefix"
						@keyup.enter="newPrefix"
					>
					<select id="proxy-select" class="custom-select custom-select-sm">
						<option value="help" disabled selected>Pick a prefix-list</option>
						<option
							v-if="proxies"
							v-for="proxy in proxies"
							:value="proxy.name"
						>
							{{ proxy.name }}
						</option>
					</select>
					<div class="input-group-append">
						<button
							class="btn btn-outline-secondary" type="button"
							@click="newPrefix"
						>
							&#65291;
						</button>
					</div>
					<div
						v-if="invalid_input"
						class="invalid-feedback"
					>
						{{ invalid_input }}
					</div>
				</div>
			</div>
			<!-- COMMIT & REVERT BUTTONS -->
			<div class="col mt-1">
				<div class="btn-group float-right" role="group" aria-label="Revert or commit">
					<button
						class="btn btn-outline-secondary" type="button"
						@click="revertProxies"
					>
						Revert
					</button>
					<button
						class="btn btn-primary" type="button"
						data-toggle="modal" data-target="#responseModal"
						@click="submitCommit"
					>
						Commit
					</button>
				</div>
			</div>
		</div>

		<!-- RESPONSE MODAL -->
		<div
			id="responseModal" class="modal fade"
			tabindex="-1" role="dialog"
			aria-labelledby="responseModalTitle" aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div :class="modal_classes">
					<div class="modal-header">
						<h5 class="modal-title" id="responseModalTitle">{{ response_status }}</h5>
						<button
							class="close" type="button"
							data-dismiss="modal" aria-label="Close"
							@click="response_status = ''; response_body = ''; modal_classes = 'modal-content d-none';"
						>
							<span>&Cross;</span>
						</button>
					</div>
					<div class="modal-body">
						<p v-html="response_body" class="card-text"></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>


<script>
export default {
	data() { return {
		proxies: null,
		invalid_input: '',
		modal_classes: 'modal-content d-none',
		response_status: '',
		response_body: '',
	}},
/*	beforeRouteEnter (to, from, next) {
	},
*/	methods: {
		filterPrefixes() {
			let input = document.getElementById('find-input').value;
			let prefix_cards = document.getElementsByClassName('draggable');

			for (var i = 0, card; card = prefix_cards[i++];) {
				let prefix = card.getElementsByClassName('prefix')[0];
				if (prefix.innerText.search(input) === -1) {
					card.className = card.className + ' d-none';
				} else {
					card.className = card.className.replace(/ d\-none/g, '');
				}
			}
		},
		clearFilter() {
			document.getElementById('find-input').value = '';

			let prefix_cards = document.getElementsByClassName('draggable');

			for (var i = 0, card; card = prefix_cards[i++];) {
				card.className = card.className.replace(/ d\-none/g, '');
			}
		},
		newPrefix() {
			let prefix = document.getElementById('prefix-input');
			let proxy = document.getElementById('proxy-select');
			// Validation
			if (!prefix.value) {
				proxy.className = proxy.className.replace(/ is\-invalid/g, '');
				prefix.className = prefix.className + ' is-invalid';
			} else {
				if (!proxy.value || proxy.value === 'help') {
					prefix.className = prefix.className.replace(/ is\-invalid/g, '');
					proxy.className = proxy.className + ' is-invalid';
					this.invalid_input = 'Pick a proxy too.';
				} else {
					let ip = prefix.value.split('/')[0];	// Look just at the IP
					let ip_pieces = ip.split('.');			// -- in pieces
					let ip_valid = false;

					for (var i = 0; i < 4; i++) {	// Check piece by piece
						if (ip_pieces[i] > 0 && ip_pieces[i] < 256) {
							ip_valid = true;
						} else {
							ip_valid = false;
						}
					}
					if (ip_valid === false) {
						prefix.className = prefix.className + ' is-invalid';
						proxy.className = proxy.className + ' is-invalid';
						this.invalid_input = 'Prefix must comprise a valid IP.';
					} else {
						let existing = JSON.stringify(this.getCommit());
						if (existing.indexOf(prefix.value) !== -1) {	// Check for duplication
							prefix.className = prefix.className + ' is-invalid';
							proxy.className = proxy.className + ' is-invalid';
							this.invalid_input = 'Prefix already exists.';
						} else {
							$(`#${proxy.value}`).append(`
								<div id="${prefix.value}" class="draggable card text-center mx-3 my-1">
									<div class="card-body p-2">
										<p class="prefix card-text">${prefix.value}</p>
									</div>
								</div>
							`);
							prefix.className = prefix.className.replace(/ is\-invalid/g, '');
							proxy.className = proxy.className.replace(/ is\-invalid/g, '');
							prefix.value = '';
							proxy.value = 'help';
						}
					}
				}
			}
		},
		revertProxies() {
			// This hack relies on a key in the router-view (which see) set to the fullPath property.
			// Then, when the path is changed randomly below, Vue Router is tricked into
			// thinking the destination is different, refreshing the component for us,
			// which normally it would not do.
			this.$router.replace('/gateway/proxies#' + Math.floor(Math.random() * 100) + 1);
		},
		getCommit() {
			let sortables = document.getElementsByClassName('sortable');
			let commit = [];

			for (var i = 0, column; column = sortables[i++];) {
				let list = $('#' + column.id).sortable('toArray');
				commit.push(
					{
						name: column.id,
						'prefix-list-items': list
					}
				);
			}
			return [commit];
		},
		submitCommit() {
			console.log(this.getCommit());
			request = this.getCommit();
			axios.post('http://api.emypeople.net/hosted/router02/proxies', request)
				.then( (response) => {
					console.log(response);
					this.hydrateModal(response);
				})
				.catch( (error) => {
					console.log('In error');
					console.log(error);
					this.hydrateModal(error.response);
			});
		},
		hydrateModal(response) {
			console.log('hum');
			this.response_status = response.status;
			this.response_body = response.data;
			this.modal_classes = 'modal-content';
		},
	},
	updated: function() {
		$(".sortable").sortable({
			classes: {
				'ui-sortable-helper': 'bg-primary text-white',
			},
			connectWith: '.sortable-connected',
			containment: '#s-containment',
			cursor: 'move',
			items: '.draggable',
			revert: true,
		})
	},
	created() {
		axios.get(
			'http://api.emypeople.net/hosted/router02/proxies',
			{headers: {
				Authorization: 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjQzMDJjM2ZiNjA0YzlmZGJhN2IzOTkzOTQzMmMzZTIxNjUyYmJiODk4NTg5ZjZhZmI5NjQ5NmU2MDc5NGVjMmQyODc0NDMwNjM4NmVhMTJiIn0.eyJhdWQiOiIxIiwianRpIjoiNDMwMmMzZmI2MDRjOWZkYmE3YjM5OTM5NDMyYzNlMjE2NTJiYmI4OTg1ODlmNmFmYjk2NDk2ZTYwNzk0ZWMyZDI4NzQ0MzA2Mzg2ZWExMmIiLCJpYXQiOjE1Mjk5MzYyMDYsIm5iZiI6MTUyOTkzNjIwNiwiZXhwIjoxNTYxNDcyMjA2LCJzdWIiOiIxIiwic2NvcGVzIjpbImMtcG9scyIsInItcG9scyIsInUtcG9scyIsImMtcG9vbCIsInItcG9vbCIsInUtcG9vbCIsImMtcHJveCIsInItcHJveCIsInUtcHJveCJdfQ.UTAZ1jH8maf5u-O7-yuzjq1_RJrcnKH3M9yZGrTVr5CsZCO4OssUq0MBpW2ti1BGLnNfWmkecfCkhB3HATAA6x5oppYIJs-yEgYF-4WGxsXWqgJify3vaJKmGqnk91B8zb9hXQeyIQS3dIyF-qxBxyqI7U1WsTK216wEO6lQ4zzGy97oPFq4khcftpET4L0iETXtSX_bEdjUS_3vrlYUL9VSDGZOfeoyX92J6CHY7Nt3__FVKbXjNciM_5KYTlBdnG-qjdM2m4DYEwkDc08hQMvAHf6_BrWvkgiHCXKBJG8JkLaLW1Cig4KOztLN4kIAebuf3-vWgYwEoLpz0tBz8eauSg9LwZnjB2AnuZrz2R-CuwAN1GC3A1cvo2YsysLO2P78jeqFoIvL4SEKcfJ12ZeX21QbajCdXDIV7sE8_6O5Pc3k8SzvqVb7KZean5u7oqTb6mvSb7ClF0LDXS5Rsym9HEPICOcAeeFBjVYOP8-O4J6OZEV5TtUJXnK-ETzdIJHEmJhxgJaTwPZGPqLoSly8vfiItakg7g0qool2TSJz8SYNthqupZb8GwQBedwgjP1QN_hpL4QefeF7u5TRiYd9zuXsAuXKXvnkb7Je8taCK1cZ61cpzh95hhxCpI3nhelnwFaoygkhafosMdyh7bWBhBADO0e7RJljHzltHq4',
				Accept: 'application/json',
			}}
		)	//NB BASE URL SHOULD NOT BE HARDCODED
			.then( (response) => {
				this.proxies = response.data['prefix-lists'];
		});
	},
	// updated() {},
}
</script>


<style>
#uiprox {
	background-image: url('/images/emy_logsform_logo.jpg');
	background-repeat: no-repeat;
	background-position: -105px -85px;
}

.draggable:hover {
	cursor: grab;
	background-color: #f8f9fa;
}

.draggable:active {
	cursor: move;
}

.ui-sortable:hover {
	background-color: white !important;
}

.ui-sortable:active {
	background-color: #f8f9fa !important;
}

.blinx {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;
}

@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
</style>


<!-- 
{
	"prefix-lists": [
		{
			"name": "proxyd",
			"prefix-list-items": [
				"10.18.0.1/32",
				"10.24.0.121/32"

			]
		},		{
			"name": "proxy1",
			"prefix-list-items": [
				"10.4.0.20/32",
				"10.6.0.14/32",
				"10.6.0.54/32",
				"10.12.15.1/32"
			]
		},		{
			"name": "proxyb",
			"prefix-list-items": [
				"10.6.0.32/32"
			]
		}
	]
}

[
	{
		name: "proxyd",
		"prefix-list-items": [
			"10.18.0.1/32",
			"10.24.0.121/32",

		],
	},		{
		name: "proxy1",
		"prefix-list-items": [
			"10.4.0.20/32",
			"10.6.0.14/32",
			"10.6.0.54/32",
			"10.12.15.1/32",
		],
	},		{
		name: "proxyb",
		"prefix-list-items": [
			"10.6.0.32/32",
		],
	},
]
 -->