<template>
	<div id="uireg" class="card-body">
		<h5 class="card-title">&ldquo;Server Control&rdquo; Access</h5>
		<h6 class="card-subtitle mb-2 text-muted">Register for your API token</h6>

		<p class="card-text">Fill in the form below, and the server will grant you your unique 60-character token. Please take care not to lose the token or expose it to public view. See the <router-link class="card-link" to="/auth/access">Interactive Documentation</router-link> for more information.</p>

		<!-- WEB FORM -->
		<div class="card bg-light p-3">
			<form ref="form_uireg" :class="form_classes" method="post" @submit.prevent novalidate>
				<!-- NAME -->
				<div class="form-group row">
					<label for="name" class="col-md-3 col-xl-2 col-form-label text-md-right">Name</label>
					<div class="col-md-9 col-xl-10">
						<input id="name" type="text" class="form-control" name="name" v-model.trim:value="name" @change="form_classes = 'needs-validation';" required autofocus>
						<div class="invalid-feedback">Please enter your name.</div>
					</div>
				</div>
				<!-- EMAIL -->
				<div class="form-group row">
					<label for="email" class="col-md-3 col-xl-2 col-form-label text-md-right">Email Address</label>
					<div class="col-md-9 col-xl-10">
						<input id="email" type="email" class="form-control" name="email" aria-describedby="emailHelp" v-model.trim:value="email" @change="form_classes = 'needs-validation';" required>
						<div class="invalid-feedback">Please enter your email address, in a valid form.</div>
						<small id="emailHelp" class="form-text text-muted">Email serves as your logon and must be unique from other accounts&rsquo;.</small>
					</div>
				</div>
				<!-- PASSWORD -->
				<div class="form-group row">
					<label for="password" class="col-md-3 col-xl-2 col-form-label text-md-right">Password</label>
					<div class="col-md-9 col-xl-10">
						<input id="password" type="password" class="form-control" name="password" aria-describedby="pwdHelp" v-model.trim:value="password" @change="form_classes = 'needs-validation';" required>
						<div class="invalid-feedback">Please enter a password.</div>
						<small id="pwdHelp" class="form-text text-muted">Password must be at least six characters.</small>
					</div>
				</div>
				<!-- PASSWORD CONFIRMATION -->
				<div class="form-group row">
					<label for="password-confirm" class="col-md-3 col-xl-2 col-form-label text-md-right">Confirm Password</label>
					<div class="col-md-9 col-xl-10">
						<input id="password-confirm" type="password" :class="pwdConfClasses" name="password_confirmation" v-model.trim:value="password_confirmation" @change="form_classes = 'needs-validation';" required>
						<div v-if="pwdNoMatch" class="invalid-feedback">Password entries do not match.</div><div v-else class="invalid-feedback">Please re-enter the password.</div>
					</div>
				</div>
				<!-- SCOPE -->
				<div class="form-group row">
					<label for="scope" class="col-md-3 col-xl-2 col-form-label text-md-right">Privileges</label>
					<div id="scope" class="col-md-9 col-xl-10" aria-describedby="scopeHelp">
						<div class="custom-control custom-checkbox">
							<input id="searchPolicies" type="checkbox" class="custom-control-input" v-model.trim:value="scope[0]">
							<label class="custom-control-label" for="searchPolicies">Search policies and proxies</label>
						</div>
						<div class="custom-control custom-checkbox custom-control-inline">
							<input id="editPolicies" type="checkbox" class="custom-control-input" v-model.trim:value="scope[1]">
							<label class="custom-control-label" for="editPolicies">Edit security policies</label>
						</div>
						<div class="custom-control custom-checkbox custom-control-inline">
							<input id="setProxies" type="checkbox" class="custom-control-input" v-model.trim:value="scope[2]">
							<label class="custom-control-label" for="setProxies">Set transparent proxies</label>
						</div>
						<small id="scopeHelp" class="form-text text-muted">Privileges can be multiple; choose only what you need.</small>
					</div>
				</div>
				<!-- SUBMIT -->
				<div class="form-group row">
					<div class="col-md-9 col-xl-10 offset-md-3 offset-xl-2">
						<button
							class="btn btn-primary" type="submit"
							data-toggle="modal" data-target="#responseModal"
							@click.prevent="submitReg"
						>
							Register
						</button>
					</div>
				</div>
			</form>
		</div>

		<!-- RESPONSE MODAL -->
		<div
			id="responseModal" class="modal fade"
			tabindex="-1" role="dialog"
			aria-labelledby="responseModalTitle" aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div :class="modal_classes">
					<div class="modal-header">
						<h5 class="modal-title" id="responseModalTitle">{{ response_status }}</h5>
						<button
							class="close" type="button"
							data-dismiss="modal" aria-label="Close"
							@click="response_status = ''; response_text = ''; modal_classes = 'modal-content d-none';"
						>
							<span>&Cross;</span>
						</button>
					</div>
					<div class="modal-body">
						<p v-html="response_text" class="card-text"></p>
						<div><input type="text" ref="tokenResponse" :value="response_token" style="height: 0; display: none;"></div><!-- copy hack -->
					</div>
					<div v-if="response_status === 'Success'" class="modal-footer">
						<button type="button" class="btn btn-primary" @click="copyToken">Copy Token</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>


<script>
export default {
	data() { return {
		name: null,
		email: null,
		password: null,
		password_confirmation: null,
		scope: [null, null, null],
		form_classes: 'needs-validation pr-lg-3',
		modal_classes: 'modal-content d-none',
		response_status: '',
		response_text: '',
		response_token: '',
	}},
	computed: {
/*		response_status: {
			get: () => { return ''; },
			set: (hydrated_resp_stat) => {
				return hydrated_resp_stat;
			},
		},
		response_text: {
			get: () => { return ''; },
			set: (hydrated_resp_text) => {
				return hydrated_resp_text;
			},
		},
*/		pwdNoMatch() {
			if (this.password_confirmation !== null && this.password !== this.password_confirmation) {
				return true;
			}
		},
		pwdConfClasses() {
			if (this.password_confirmation !== null && this.password !== this.password_confirmation) {
				return 'form-control is-invalid';
			} else {
				return 'form-control';
			}
		},
	},
	methods: {
		submitReg() {
			// First, let's get some Bootstrap stuff out of the way ...
			this.form_classes = 'pr-lg-3 was-validated';
			if (this.$refs.form_uireg.checkValidity() === false) {
				console.log('Oops');
				event.preventDefault(); event.stopPropagation();
			} else {	// ... now we can work.
				let reg_request = {
					name: this.name,
					email: this.email,
					password: this.password,
					password_confirmation: this.password_confirmation,
				};
				// console.log(reg_request);
				axios.post('http://api.emypeople.net/auth/register', reg_request)   //BASE URL SHOULDN'T BE HARD-CODED
					.then( (response) => {
						console.log(response);
						let rescope = '';
						if (this.scope[0]) { rescope += 'r-pols r-prox'; }
						if (this.scope[1]) { rescope += ' u-pols'; }
						if (this.scope[2]) { rescope += ' u-prox'; }
						let token_request = {
							grant_type: 'password',
							client_id: 1,
							client_secret: 'GjqriazFKjRo28SSmtnOBZhHxSxZNn8ChJkZPZBl',
							username: response.data.email,
							password: this.password,    //NO NO NO
							scope: (rescope || '*'), // Might as well give it to 'em
						}
						// console.log(token_request);
						axios.post('http://api.emypeople.net/oauth/token', token_request)
							.then( (response) => {
								console.log(response);
								this.hydrateModal(response);
								// Cleanup
								this.name = null; this.email = null;
								this.password = null; this.password_confirmation = null;
								this.scope = [null, null, null];
								this.form_classes = 'needs-validation pr-lg-3';
							})
							.catch( (error) => {
								console.log('In error 2');
								console.log(error);
								this.hydrateModal(error.response);
						});
					})
					.catch( (error) => {
						console.log('In error 1');
						console.log(error);
						this.hydrateModal(error.response);
				});
			}
		},
		hydrateModal(response) {
			if (response.status === 200) {
				this.response_status = 'Success';
				this.response_token = response.data.access_token;
				this.response_text = ''.concat(
					'<p class="card-text">New user <code>',
					this.name,
					'</code>, with login <code>',
					this.email,
					'</code>, has been created.</p>',
					'<h5 class="text-muted">Token</h5><code>',
					this.response_token,
					'</code>',
				);
			} else {
				this.response_status = response.statusText;
				// this.response_text = response.data;	//(response.data ? response.data.join('<p>') : 'Unknown error');
				let response_text = '<p>The API server advises:</p><ul>';
				console.log(response);
				Object.keys(response.data).forEach( (message) => {
					response_text += `<li><code>${response.data[message]}</code></li>`;
				});
				// for (var { message } in response.data) {
					// response_text += response.data.email[0] + '</p><p>';
				// }
				response_text += '</ul>'
				this.response_text = response_text;
			}
			this.modal_classes = 'modal-content';
		},
		copyToken() {
			this.$refs.tokenResponse.style.display = 'block';
			this.$refs.tokenResponse.select();
			document.execCommand('copy');
			this.$refs.tokenResponse.style.display = 'none';
		},
	},
}
</script>


<style>
#uireg {
	background-image: url('/images/emy_logsform_logo.jpg');
	background-repeat: no-repeat;
	background-position: -105px -85px;
}
</style>
